# Environments
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Data and models (if you want to ignore large datasets/model weights)
data/
models/

# MLflow and Databases
mlruns/
ml/mlruns/
*.db
